/* table {
    width: 1200px;
     margin: 4rem; 
     padding: 5rem; 
  }
   */
   [id=menuheader]{
    margin-bottom: 40px;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 15px;
}
nav a:hover{
    color: white;
    background-color: rgb(0,26,48);
}

.wrap-login300 {
    width: 1200px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }


.mat-tab-group {
    margin-bottom: 48px;
  }

  table {
    width: 100%;
    height: 100%;
  }

.mat-column-categoria{
    width:100px;
    padding-right: 24px;
    text-align: center;
    height: 100%;
}

.mat-column-excelente{
    width:100px;
    padding-right: 24px;
    text-align: left;
    height: 100%;
}
.mat-column-bueno{
    width:100px;
    padding-right: 24px;
    text-align: left;
    height: 100%;
}
.mat-column-regular{
    width:100px;
    padding-right: 24px;
    text-align: left;
    height: 100%;
}
.mat-column-insatisfactorio{
    width:100px;
    padding-right: 24px;
    text-align: left;
    height: 100%;
}
.mat-header-cell{
    text-align: center;
}
.spanc{
    text-align: center;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 300px;
  }
  
  .example-large-box {
    height: 300px;
  }

  .wmitad{
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }