<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/home" class="nav-link"><img src="./assets/images/icons/home_icon.png" width="23px"></a></li>
          <li><a routerLink="/home" class="nav-link" style="font-size: 18px;">Home</a></li>
          <li style="color:white; font-size: 18px;">></li>
          <li><a routerLink="/dashboard/main-menu" class="nav-link" style="font-size: 18px;">Menú</a></li>
          <li style="color:white; margin-right: 2rem; font-size: 18px;">> Subir Informe</li>
          
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col flex-col-c">
        
        <div id="formPracticaEstudiante" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" >
            <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                Subir Informe de Práctica
            </span>
            <div class="wrap-input100 m-b-23">
                <span class="label-input100 m-b-23"><p>El informe debe estar en formato PDF. <br> El nombre debe comenzar con su rut (sin puntos, ni guion), su nombre, apellido, y la carrera a la que pertenece Ingeniería Civil en Informática o Ingeniería En Informática (ICCI o IenCI). <br>Ejemplo: "12345678k_Juan_Perez_IenCI.pdf"</p></span>
                <div id="fileSelector">
                    <input class="form-control" style="font-size: 20px;" type="file" #fileInformeEstudiante accept="application/pdf" (change)="getFileInformeEstudiante($event)">
                </div>
                <button class="boton-dashboard m-b-23 m-t-23" style="font-size: 25px;" [disabled]="!fileInformeEstudiante" (click)="alertaAgregarInformeEstudiante()">
                    Subir informe de práctica
                </button>
            </div>
                 
        </div>
    </div>
</div>
