<div class="limiter">
    <div class="container-login200" style="background-image: linear-gradient(133deg, rgba(202,202,254,0.700717787114846) 36%, rgba(147,192,227,0.7987570028011204) 66%),url('../../../../assets/images/home/fondo.jpg');">    
        <div class="container-login150" >
            <span class="login200-form-title p-b-17" style="color: rgb(0, 35, 64);">
                Bienvenido
            </span>
            <div class="container">
                <div class="box1">
                    <h1>Práctica Preprofesional</h1>
                    <div>
                        <p>
                            <br>
                            La práctica profesional es un curso del plan de estudios de los programas académicos 
                            ofrecidos por la Fundación Universitaria Católica del Norte y se contempla como un componente 
                            esencial en la formación del estudiante, además de convertirse en un elemento que permite afianzar
                             el vínculo entre la Institución y el sector productivo.<br>
                        </p>

                    </div>
                    
                    <button id="button2" class="btn btn-primary">
                        <a href="http://localhost:3000/ContenidoPractica.pdf" target="_blank" style="text-decoration: none; color: white;">
                            <b>Más información</b></a>
                    </button>

                </div>
                <div class="box">
                    <h1>Registrar Empresa</h1>
                    <p>
                        <br>Si tienes una empresa y estás interesado en solicitar estudiantes.<br>
                    </p>
                    <button id="button2" class="btn btn-primary" (click)="registrarEmpresa()">Ingresar aquí</button>
                </div>
            </div>    
        </div>
    </div>
</div>
