<div class="row">
    <div class="col flex-col-c">
        <!-- <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54"> -->
            <table *ngIf="isRoute('/dashboard/encargado-practica/ver-solicitudes-estudiante')" mat-table [dataSource]="solicitudesEstudiante" class="mat-elevation-z8 ">
        
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                
            
                <!-- Name Column -->
                <ng-container matColumnDef="nombreProyecto">
                <th mat-header-cell *matHeaderCellDef> NOMBRE PROYECTO </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreProyecto  | uppercase }}
                      
                </td>
                
                </ng-container>

                
            
                <!-- Weight Column  -->
                <ng-container matColumnDef="nombreEmpresa">
                <th mat-header-cell *matHeaderCellDef> NOMBRE EMPRESA </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa | uppercase }} </td>
                </ng-container>

                <!-- Weight Column  -->
                <ng-container matColumnDef="nombreEncargado">
                <th mat-header-cell *matHeaderCellDef> NOMBRE CONTACTO </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreEncargado | uppercase }} </td>
                </ng-container>

                 <!-- Weight Column  -->
                 <ng-container matColumnDef="apellidoEncargado">
                <th mat-header-cell *matHeaderCellDef> APELLIDO CONTACTO </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidoEncargado | uppercase }} </td>
                </ng-container>

                <!-- Weight Column  -->
                <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> TELEFONO CONTACTO </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono | uppercase}} </td>
                </ng-container>
                <!-- Position Column -->
               
                <ng-container matColumnDef="estado" >
                    <th mat-header-cell *matHeaderCellDef> ESTADO SOLICITUD  </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div *ngIf="element.estado === true">
                            Aprobado
                        </div>
                        <div *ngIf="element.estado === false ">
                            Reprobado
                        </div>
                        <div *ngIf="element.estado === null">
                            Pendiente
                        </div>
                    </td>
                    <!-- <td mat-cell *matCellDef="let element" ngIf="!element.estado" > Reprobado </td> -->
                    <!-- <td mat-cell *matCellDef="let element" ngIf="element.estado == null" > Pendiente </td> -->
                    </ng-container>
            
                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container> -->

                <ng-container matColumnDef="boton" >
                <th mat-header-cell *matHeaderCellDef></th>
                    <td button style="cursor: pointer" mat-cell *matCellDef="let element" mat-icon-button (click)="verSolicitud(element.id_solicitudEstudiante)">
                        <mat-icon>search</mat-icon>
                    </td> 
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <router-outlet></router-outlet>
        </div>
    <!-- </div> -->
</div>

