<div class="limiter ">
    <div class="container-login200" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="boton-logout">
            <div class="logoDisc ">
            </div>
            <div class="align-items: center p-t-30">
                <h1> Usuario </h1>
                <button class="boton-logout p-l-30" (click)="logout()">
                    Cerrar sesión
                </button>
            </div>
        </div>
        <div class="container-login150" >
            
            <div class="row">
                <div class="col flex-col-c">
                    <span class="login200-form-title p-b-17">
                        Sistema Práctica Capstone
                    </span>
                    <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                        <!-- Distribuir según rol -->
                        
                        <router-outlet></router-outlet>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>    
</div>