<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <div class="row">
        <div class="col flex-col-c">
            <div class="topform">
                <a mat-raised-button color="link" href="/dashboard/encargado-practica/ver-solicitudes-estudiante" >Volver </a>      
                <div class="flex-col-c">
                    <h1 class="titulo p-b-20" style="font-size: 25px; text-transform: uppercase;">Solicitud de estudiante</h1> 
                </div>
            </div>
            
              <!-- <mat-card-actions align="start" class="m-r-80" > -->
                      <!-- </mat-card-actions>`` -->
            
            <div class="wrap-input100 m-b-23">
                <span class="label-input100 ">Nombre de proyecto: <br> </span>
                <div class="input100" >{{ solicitudEstudiante.nombreProyecto | uppercase}}</div>
            </div>

            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Área:</span>
                <div class="input100" > {{ solicitudEstudiante.area }}</div>
            </div>

            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Plazos que define:  </span>
                <div class="input100" > {{ solicitudEstudiante.plazo }} Meses. </div>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Recursos económicos, monto aproximado: </span>
                <div class="input100" > ${{ solicitudEstudiante.disposicionMonetaria }} </div>
                <span class="focus-input100"></span>
            </div>

            <div *ngIf="solicitudEstudiante.modalidad == '0'" class="wrap-input100 m-b-23">
                <span class="label-input100" >Modalidad: </span>
                <div class="input100" > PRÁCTICA PREPROFESIONAL</div>
            </div>

            <div *ngIf="solicitudEstudiante.modalidad == '1'" class="wrap-input100 m-b-23">
                <span class="label-input100" >Modalidad:  </span>
                <div class="input100" >CAPSTONE PROJECT</div>
            </div>

            <div *ngIf="solicitudEstudiante.modalidad == '2'" class="wrap-input100 m-b-23">
                <span class="label-input100" >Modalidad: </span>
                <div class="input100" > POR DEFINIR</div>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Problemática que se quiere resolver: <br> </span>
                <div class="input100" > {{ solicitudEstudiante.problemaResolver }} </div>
            </div>
        
            
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Solución que se prevee: <br> 
                </span>
                <div class="input100" >{{ solicitudEstudiante.solucion }}</div>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Entregable final: <br> </span>
                <div class="input100" >{{ solicitudEstudiante.entregableFinal }}</div>
                <span class="focus-input100"></span>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Importancia del proyecto: <br> </span>
                <div class="input100" >{{ solicitudEstudiante.importancia }}</div>
                <span class="focus-input100"></span>
            </div>
        
        
            <div *ngIf="solicitudEstudiante.infoAdicional" class="wrap-input100 m-b-23">
                <span class="label-input100">Información adicional: <br> </span>
                <div class="input100" >{{ solicitudEstudiante.infoAdicional }}</div>
                <span class="focus-input100"></span>
            </div>
        
            <button mat-button (click)="openDialog()" > <mat-icon>reply_all</mat-icon>
                Evaluar
            </button>
            
        </div>
    </div>
</div>
