<div class="header">
    <div id="logoheader1" class="logoheader" width="350px" >
        <a routerLink="/home">
            <img class="LogoDisc" src="./assets/images/LogosDisc/LogoDISC_BLANCO.png" width="350px">
        </a>
    </div>
    <div id="textHeader"class="center">
        <h1><B>Sistema Práctica Capstone</B></h1>
    </div>
    <div id="login1" class="log">
        <img class="iconlog" src="./assets/images/icons/log.png" width="90px">
        <div *ngIf="(isLogged$ | async)">
            <span class="boton-logout m-1-23" >{{ usuarioLogeado?.nombre | titlecase}} {{ usuarioLogeado?.apellidop | titlecase}} {{ usuarioLogeado?.apellidom | titlecase}}</span>
            
        </div>
        <a class="boton-logout m-1-23" routerLink="/dashboard/main-menu" *ngIf="!isRoute('/home') && !isRoute('/dashboard/main-menu') && !isRoute('/auth/login')">
            Menú principal
        </a>
        <a class="boton-logout m-1-23" routerLink="/auth/login" *ngIf="isRoute('/home')">
            Iniciar sesión
        </a>
        <button class="boton-logout m-1-23 left" (click)="logout()" *ngIf="!isRoute('/home') && !isRoute('/auth/login')">
            Cerrar sesión
        </button>
    </div>
</div>