
<div class="row">
    <div class="col flex-col-c">
        <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <button class="boton-dashboard m-b-23" (click)="registrarUsuario()">
                Registrar Usuario
            </button>
            
            <button class="boton-dashboard m-b-23" (click)="editarUsuario()">
                Editar Usuario
            </button>
            <button class="boton-dashboard m-b-23" (click)="eliminarUsuario()" >
                Deshabilitar Usuario
            </button> 
            <button class="boton-dashboard m-b-23" (click)="verSolicitudesEstudiante()" >
                Ver Solicitudes de Estudiante
            </button> 
        </div>  
    </div>
    
</div>
