<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
    <nav>
        <ul class="nav_links">
            <li><a href="" class="nav-link">Home ></a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col flex-col-c">
        <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <button class="boton-dashboard m-b-23" style="font-size: 25px;" (click)="registrarUsuario()">
                Registrar Usuario
            </button>
            
            <button class="boton-dashboard m-b-23" style="font-size: 25px;" (click)="editarUsuario()">
                Editar Usuario
            </button>
            <button class="boton-dashboard m-b-23" style="font-size: 25px;" (click)="eliminarUsuario()" >
                Deshabilitar Usuario
            </button> 
            <button class="boton-dashboard m-b-23" style="font-size: 25px;" (click)="verSolicitudesEstudiante()" >
                Ver Solicitudes de Estudiante
            </button> 
            <button class="boton-dashboard m-b-23" (click)="verPublicaciones()" >
                Ver Publicaciones
            </button> 
            <button class="boton-dashboard m-b-23" (click)="administrarPublicaciones()" >
                Administrar Publicaciones
            </button> 
            </button>
            <button class="boton-dashboard m-b-23" style="font-size: 25px;" (click)="uploadContenido()" >
                Subir contenido Práctica o Capstone
            </button>
            <button class="boton-dashboard m-b-23" style="font-size: 25px;" (click)="downloadDocument()" >
                Descargar documentos
            </button>
        </div>  
    </div>
    
</div>
