<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
  <nav>
      <ul class="nav_links">
          <li><a routerLink="/home" class="nav-link">Home</a></li>
          <li style="color:white;">></li>
          <li><a routerLink="/dashboard/main-menu" class="nav-link">Menú</a></li>
          <li style="color:white;">>  Administrar Publicaciones</li>
          
      </ul>
  </nav>
</div>
<div class="row">
  
  <div class="col flex-col-c">
    
    <div *ngIf="isRoute('/dashboard/comision-titulacion-practica/administrar-publicaciones')"  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      
      <mat-card-actions align="end" >
        <button mat-raised-button color="warn" style="font-size: 25px;" (click)="irCrearPublicacion()" >Crear publicacion</button>
      </mat-card-actions>
              
      <mat-card *ngFor="let item of publicaciones" class=" m-b-28">
        <mat-card-title > {{ item.asunto }} </mat-card-title>
        <mat-card-subtitle> {{item.remitente}} </mat-card-subtitle>
        <mat-card-content>
        <p>{{ item.mensaje }}</p>
        </mat-card-content>
        <mat-card-actions align="end" >
         <button mat-button (click)="verPublicacion(item.id_publicacion)"><mat-icon>search</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </div>
    <router-outlet></router-outlet>
  </div> 
</div>




