<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/home" class="nav-link"><img src="./assets/images/icons/home_icon.png" width="23px"></a></li>
            <li><a routerLink="/home" class="nav-link" style="font-size: 18px;">Home</a></li>
            <li style="color:white; font-size: 18px;">></li>
            <li><a routerLink="/dashboard/main-menu" class="nav-link" style="font-size: 18px;">Menú</a></li>
            <li style="color:white; margin-right: 2rem; font-size: 18px;">> Editar usuario</li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col flex-col-c">
        <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" autocomplete="off" [formGroup]="buscarForm" (ngSubmit)="buscarUsuario()" >

                <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                    Editar usuario
                </span>
            
                <div *ngIf="isRoute('/dashboard/edit-usuario')">
                    <div class="wrap-input100 m-b-23">
                        <span class="label-input100" style="font-size: 25px;">Ingrese Rut que quiera buscar</span>
                        <input (input)="inputEvent($event)" 
                            maxlength="12"
                            class="input100" style="font-size: 20px;"
                            formControlName="rutBuscar">
                        <span class="text-danger" *ngIf= "buscarForm.get('rut')?.errors?.['rutnovalido']">El rut no es valido</span><br>
                        <span class="focus-input100"></span>
                    </div>
                
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn" style="font-size: 25px;"
                                    [disabled]="buscarForm.invalid">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                
            
            </form> 
            
            <router-outlet></router-outlet>
        </div>  
    </div>
</div>
