[id=menuheader]{
    margin-bottom: 40px;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
    background-color: rgb(0,26,48);
}
.mat-column-nombre{
    width: 300px;
    padding-right: 12px;
    text-align: center;
}
.mat-column-rut{
    width: 300px;
    padding-right: 12px;
    text-align: center;
}
.mat-column-nombreProyecto{
    width: 400px;
    padding-right: 12px;
    text-align: center;
}

.mat-column-nombreEmpresa{
    width: 400px;
    padding-right: 12px;
    text-align: center;
}
.mat-column-periodo{
    width: 400px;
    padding-right: 12px;
    text-align: center;
}
.mat-column-anio{
    width: 400px;
    padding-right: 12px;
    text-align: center;
}
.mat-column-boton{
    width: 400px;
    padding-right: 12px;
    text-align: center;
}

.containertabla {
    overflow: auto;
    max-width: 100%;
}