<form class="login100-form" 
autocomplete="off"
[formGroup]="newPasswordForm"
(ngSubmit)="cambiarPassword()">

    <span class="login100-form-title p-b-49">
        Cambiar Contraseña
    </span>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Ingrese nueva contraseña</span>
        <div>
            <input class="input100"
            formControlName="password" 
            placeholder="Ingrese su nueva contraseña">

            <span *ngIf="this.newPasswordForm.invalid" class="form-text-login"> 
                Ingrese una contraseña válida
            </span>
            
        </div>  
    </div>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Confirme su contraseña nueva</span>
        <div>
            <input class="input100"
            placeholder="Confirme la contraseña">

            <span *ngIf="this.newPasswordForm.invalid" class="form-text-login"> 
                Ingrese una contraseña válida
            </span>
            
        </div>  
    </div>
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn">             
            </div>
            <button type="submit" class="login100-form-btn">
                Cambiar contraseña
            </button>
        </div>
    </div>

</form>
