/* table {
    width: 1200px;
     margin: 4rem; 
     padding: 5rem; 
  }
   */
   [id=menuheader]{
    margin-bottom: 40px;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 15px;
}
nav a:hover{
    color: white;
    background-color: rgb(0,26,48);
}

/* .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  } */

.alinear {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
} 

/* .mat-form-field{
    width: 40%;
}
.mat-select{
    width: 100%;
} */

table {
    width: 100%;
  }

.mat-column-sobresaliente{
    width:100px;
    padding-right: 24px;
    text-align: center;
}

.mat-column-muybueno{
    width:100px;
    padding-right: 24px;
    text-align: center;
}
.mat-column-bueno{
    width:100px;
    padding-right: 24px;
    text-align: center;
}
.mat-column-regular{
    width:100px;
    padding-right: 24px;
    text-align: center;
}
.mat-column-insatisfactorio{
    width:100px;
    padding-right: 24px;
    text-align: center;
}
.spanc{
    text-align: center;
}