<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/home" class="nav-link"><img src="./assets/images/icons/home_icon.png" width="23px"></a></li>
            <li><a routerLink="/home" class="nav-link" style="font-size: 18px;">Home</a></li>
            <li style="color:white; font-size: 18px;">></li>
            <li><a routerLink="/dashboard/main-menu" class="nav-link" style="font-size: 18px;">Menú</a></li>
            <li style="color:white; margin-right: 2rem; font-size: 18px;">> Solicitar Estudiante</li>
            
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col flex-col-c">
        <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" autocomplete="off" (ngSubmit)="solicitarEstudiante()" [formGroup]="solicitarEstudianteForm">
                
                <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                    Solicitar estudiante 
                </span>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">Nombre de proyecto</span>
                    <input class="input100"
                            formControlName="nombreProyecto"
                           placeholder="Ingrese nombre del proyecto"
                           >
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">Problemática que se quiere resolver:</span>
                    <textarea class="textarea101 " style="font-size: 20px;" placeholder="Ingrese problematica" 
                    formControlName="problemaResolver">  </textarea>
                    <!-- <input class="input100" 
                            formControlName="problematica"
                           placeholder="Ingrese su apellido paterno"
                           >
                    <span class="focus-input100"></span> -->
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">Área</span>
                    <input class="input100"
                           placeholder="Ingrese area"
                           formControlName="area">
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">Solución que usted prevee</span>
                    <input class="input100"
                           placeholder="Ingrese solucion"
                           formControlName="solucion">
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">¿Cuál es el entregable final?</span>
                    <input class="input100"
                           placeholder="Ingrese entregable final "
                           formControlName="entregableFinal">
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">¿Cuál es la importancia de este proyecto?</span>
                    <textarea class="textarea101"  
                    style="font-size: 20px;"
                    placeholder="Ingrese sobre la importancia"
                    formControlName="importancia"></textarea>
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">Plazos que usted define: (En meses)</span>
                    <input class="input100"
                            type="number"
                           placeholder="Ingrese plazos"
                           formControlName="plazo">
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">¿Dispone de recursos económicos? Indique cifra aproximada:</span>
                    <input class="input100"
                           
                           placeholder="Ingrese monto"
                           formControlName="disposicionMonetaria">
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23" style="font-size: 25px;">
                    <span class="label-input100">Información adicional que desee brindar (opcional) :</span>
                    <textarea style="font-size: 20px;" class="textarea101" formControlName="infoAdicional" placeholder="Ingrese informacion adicional" ></textarea>
                    <span class="focus-input100"></span>
                </div>
            
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100" style="font-size: 25px;">Modalidad</span>
                    <select class="input100 m-b-23" style="font-size: 13.5px;" formControlName="modalidad"> 
                        <option class="input102"  [ngValue]="null" disabled > Seleccione Modalidad </option>
                        <option class="input102" style="font-size: 15px;" *ngFor="let modalidad of modalidades" [ngValue]="modalidad.id"> {{modalidad.name}} </option>
                    </select>
                </div>
            
                <!-- <div class="wrap-input100">
                    <span class="label-input100">Fecha Envio</span>
                    <input class="input100"
                           type="password"
                           placeholder="Confirme su contraseña"
                           formControlName="confirmPassword">
                    <span class="focus-input100"></span>
                </div> -->
                
                <div class="text-right p-t-8 p-b-31"></div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" style="font-size: 25px;" type="submit" [disabled]="solicitarEstudianteForm.invalid" >
                            Registrar solicitud de estudiante
                        </button>
                    </div>
                </div>
            
                 <div class="flex-col-c p-t-60">
                    <span class="txt1 p-b-17 ">
                        ¿Ya tienes tu cuenta registrada?
                    </span>
            
                    <a routerLink='/auth/login' class="txt2">
                        Ingresa aquí
                    </a>
                </div> 
            </form>
        </div>
    </div>
</div>
