<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <div class="row">
        <div class="col flex-col-c">
            <span class="titulo p-b-20">
                Nombre del proyecto:
            </span>
            
            <div class="wrap-input100 m-b-23">
                <span class="label-input100 m-r-60">Nombre de proyecto:</span>
                
            {{ solicitudEstudiante.nombreProyecto | uppercase}} 
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Problematica que se quiere resolver:</span>
                    {{ solicitudEstudiante.problemaResolver }}
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Área</span>
                {{ solicitudEstudiante.area }}
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Solución que usted prevee</span>
                {{ solicitudEstudiante.solucion }}
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">¿Cuál es el entregable final?</span>
                {{ solicitudEstudiante.entregableFinal }}
                <span class="focus-input100"></span>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">¿Cuál es la importancia de este proyecto?</span>
                {{ solicitudEstudiante.importancia }}
                <span class="focus-input100"></span>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Plazos que usted define:</span>
                {{ solicitudEstudiante.plazo }}
                <span class="focus-input100"></span>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">¿Dispone de recursos económicos? Indique cifra aproximada:</span>
                {{ solicitudEstudiante.disposicionMonetaria }}
                <span class="focus-input100"></span>
            </div>
        
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Informacion adicional que desee brindar (opcional) :</span>
                {{ solicitudEstudiante.infoAdicional }}
                <span class="focus-input100"></span>
            </div>
        
            <div *ngIf="solicitudEstudiante.infoAdicional" class="wrap-input100 m-b-23">
                <span class="label-input100">Modalidad</span>
                 {{ solicitudEstudiante.infoAdicional }}
            </div>

            <button mat-button (click)="openDialog()" > <mat-icon>reply_all</mat-icon>
                Evaluar
            </button>
            
        </div>
    </div>
</div>
