<div class="limiter">
    <div class="container-login200" style="background-image: url('../../../../assets/images/bg-01.jpg');">    
        <div class="container-login150" >
            <span class="login200-form-title p-b-17">
                Bienvenido
            </span>
            <div class="container">
                <div class="box1">
                    <h1>Práctica Preprofesional</h1>
                    <div>
                        <p>
                            <br>
                            La práctica profesional es un curso del plan de estudios de los programas académicos 
                            ofrecidos por la Fundación Universitaria Católica del Norte y se contempla como un componente 
                            esencial en la formación del estudiante, además de convertirse en un elemento que permite afianzar
                             el vínculo entre la Institución y el sector productivo.<br>
                        </p>

                    </div>
                    
                    <button id="button2" class="btn btn-primary">Más información</button>

                </div>
                <div class="box2">
                    <h1>Capstone Project</h1>
                    <div>
                        <p>
                            <br>En el Capstone Project los estudiantes deben ser capaces de demostrar habilidades tales como
                             toma de decisiones, orientación al logro, trabajo en equipo, 
                             comunicación efectiva y habilidades vinculadas a la investigación, diseño, 
                             implementación y operación de soluciones tecnológicas.
                            <br>
                        </p>
                        <button class="btn btn-primary">Más información</button>
                    </div>
                </div>
                <div class="box">
                    <h1>Registrar Empresa</h1>
                    <p>
                        <br>Si tienes una empresa y estás interesado en solicitar estudiantes.<br>
                    </p>
                    <button id="button2" class="btn btn-primary" (click)="registrarEmpresa()">Ingresar aquí</button>
                </div>
            </div>    
        </div>
    </div>
</div>