.container{
    /*background-color: rgb(225, 128, 37);*/
    background: rgb(191,108,30);
    background: linear-gradient(180deg, rgba(191,108,30,1) 30%, rgba(225,127,35,1) 60%);
    width: 90%;
    margin: 100px auto;
    display: flex;
    padding: 20px;
}
.box{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/images/home/fondo.jpg");
    height: 500px;
    padding: 25px;
    border: rgb(191,108,30) solid 3px;
    flex: 1;
    transition: 1s;
    text-align: center;
    align-items: center;
}
.box:hover{
    flex:4;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/assets/images/home/fondo.jpg");
    align-items: center;
}
.box1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("/assets/images/home/practica.jpg");
    height: 500px;
    padding: 25px;
    border: rgb(191,108,30) solid 3px;
    flex: 1;
    transition: 1s;
    text-align: center;
    align-items: center;
}
.box1:hover{
    flex:4;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/images/home/practica.jpg");
    align-items: center;
}
.box2{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("/assets/images/home/capstone.jpg");
    height: 500px;
    padding: 25px;
    border: rgb(191,108,30) solid 3px;
    flex: 1;
    transition: 1s;
    text-align: center;
    align-items: center;
}
.box2:hover{
    flex:4;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/images/home/capstone.jpg");
    align-items: center;
}
h1{
    color:white;
    text-align: center;
    font-size: 45px;
}
p{
    color:white;
    text-align: justify;
}
[id="button2"]{
    align-items:flex-end;

}