<div class="footer">
    <ul class="footerlist">
        <li>
            <a href="https://www.ucn.cl/" >
                <img class="LogoDisc" src="./assets/images/icons/logofooter.png" width="300px">
            </a>
            
        </li>
        <li>
            <aside>
                <p>
                    Departamento de Ingeniería de Sistemas y Computación
                    <br>
                    Fono: +56 55 2355136
                    <br>
                    Angamos 0610, Pabellón Y-1
                    <br>
                    Antofagasta, Chile.
                </p>
            </aside>
        </li>
        <li>
            <img class="logoFace" src="./assets/images/icons/icon3.png" width="100px" >
            <p>Facebook</p>
        </li>
        <li>
            <div>
                <img class="logoMsj p-l0-30 center" src="./assets/images/icons/icon2.png" width="100px">
                <p>encargadoDisc@ucn.cl</p>
            </div>
        </li>
    </ul>
</div>