<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/home" class="nav-link"><img src="./assets/images/icons/home_icon.png" width="23px"></a></li>
          <li><a routerLink="/home" class="nav-link" style="font-size: 18px;">Home</a></li>
          <li style="color:white; font-size: 18px;">></li>
          <li><a routerLink="/dashboard/main-menu" class="nav-link" style="font-size: 18px;">Menú</a></li>
          <li style="color:white; margin-right: 2rem; font-size: 18px;">> Subir Informe</li>
          
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col flex-col-c">
        
        <div id="formPracticaEstudiante" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-40" >
            <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                Subir Informe de Práctica
            </span>
            <div class="m-b-23">
                <div class="m-b-30" style="text-align: justify;" >
                    <span><p>El informe debe estar en formato PDF. <br> 
                        El nombre del archivo debe seguir el siguiente formato: <br> 
                        Rut_nombre_apellido_carrera.pdf <br>Ejemplo: "12345678k_Juan_Perez_IenCI.pdf" <br>
                         (IenCI para Ingeniería En Computación e Informática, IccI para Ingeniería Civil En Computación e Informática). 
                        </p></span>
                </div>
                <div id="fileSelector">
                    <input class="form-control" style="font-size: 20px;" type="file" #fileInformeEstudiante accept="application/pdf" (change)="getFileInformeEstudiante($event)">
                </div>
                <form [formGroup]="informeForm" >
                    <div class="alinear" >
                        <mat-form-field style="display: inline-block; flex-direction: end;"class="m-b-10 m-t-20" appearance="fill">
                            <mat-label style="font-size: 20px;" >Seleccione periodo</mat-label>
                            <mat-select formControlName="periodoRealizar" >
                                <mat-option *ngFor="let periodo of periodos"  [value] ="periodo.id">{{periodo.periodo}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="informeForm.get('periodoRealizar')?.errors">
                                <strong>El periodo es obligatorio</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field style="display: inline-block; flex-direction: end;" class="m-b-10 m-t-20" appearance="fill">
                            <mat-label style="font-size: 20px;">Ingrese Año</mat-label>
                            <input matInput style="text-align: right;" type="text" pattern="\d*" maxlength="4" minlength="4" formControlName="anioRealizar">
                            <mat-error *ngIf="informeForm.get('anioRealizar')?.errors">
                                <strong>Ingrese un año válido </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <mat-card-actions style="display:contents   ;" >
                    <button mat-raised-button class="w-full" color="primary" [routerLink]="'/dashboard/main-menu'"  style="font-size: 25px; width: 700px ; margin-bottom: 10px;" > VOLVER AL MENÚ PRINCIPAL 
                    </button> 
                    <button mat-raised-button color="warn" style="font-size: 25px; width: 700px ; " [disabled]="!fileInformeEstudiante || informeForm.invalid" (click)="alertaAgregarInformeEstudiante()">
                        SUBIR INFORME DE PRÁCTICA
                    </button>
                </mat-card-actions>
            </div>
                 
        </div>
    </div>
</div>
