<form class="login100-form" 
autocomplete="off"
[formGroup]="forgotForm"
(ngSubmit)="recuperarPassword()">

    <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
        Recuperar Contraseña
    </span>
    <div class="wrap-input100 m-b-23" style="font-size: 25px;">
        <span class="label-input100">Ingrese su correo</span>
        <div>
            <input class="input100"
            formControlName="correo" style="font-size: 20px;"
            placeholder="Ingrese su correo">

            <span *ngIf="campoEsValido('correo')" class="form-text-login"> 
                Ingrese correo válido
            </span>
            
        </div>  
    </div>
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn">             
            </div>
            <button type="submit" class="login100-form-btn" style="font-size: 25px;" [disabled]="forgotForm.invalid" >
                Recuperar contraseña
            </button>
        </div>
    </div>

</form>


