
<div class="row">
    <div class="col flex-col-c">
      <div  class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <mat-card class=" m-b-28">
            <mat-card-title > {{ publicacionActual.asunto }} </mat-card-title>
            <mat-card-subtitle> {{publicacionActual.remitente}} </mat-card-subtitle>
            <mat-card-content>
            <p>{{ publicacionActual.mensaje }}</p>
            </mat-card-content>
            <mat-card-actions align="end" >
             <button mat-button ><mat-icon>search</mat-icon></button>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
</div>
  
      