<div id=menuheader class="header" style="background-color: rgb(0,44,79); ">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/home" class="nav-link"><img src="./assets/images/icons/home_icon.png" width="23px"></a></li>
            <li><a routerLink="/home" class="nav-link" style="font-size: 18px;">Home</a></li>
            <li style="color:white; font-size: 18px;">></li>
            <li><a routerLink="/dashboard/main-menu" class="nav-link" style="font-size: 18px;">Menú</a></li>
            <li style="color:white; margin-right: 2rem; font-size: 18px;">> Descargar Documentos</li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col flex-col-c">
        <div  class="wrap-login100 p-l-55 p-r-55 p-t-30 p-b-25">
            <form class="login100-form">
                <span class="login100-form-title p-b-23" style="text-transform:uppercase;">
                    Descargar documentos
                </span>
            </form>
        </div>
        <div id="formPracticaEstudiante" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                    Documentos Práctica estudiantes
                </span>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100 m-b-23" style="font-size: 25px;">Subir contenido Práctica Preprofesional para los estudiantes<br></span><br>
                    <div id="fileSelector">
                        <input style="font-size: 20px;" type="file" #fileDocPracticaEstudiante (change)="getFileDocPracticaEstudiante($event)">
                    </div>
                </div>
                <div></div>
                <button class="boton-dashboard m-b-23 m-t-23" style="font-size: 25px;" (click)="alertaDocPracticaEstudiant()">
                    Subir contenido práctica estudiante
                </button> 
                <div class="row card">
                    <h4>Download Section</h4>
    
                    <div class="row" *ngFor="let item of attachmentList; let i = index"
                    style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                        <div class="col-sm-7">{{item}}</div>
                        <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" (click)="download(i)">Download</button></div>
                    </div>
                </div>
        </div>

        <!--div id="formCapstoneEstudiante" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                    Documentos Capstone estudiantes
                </span>
                <div class="wrap-input100 m-b-23 m-t-23">
                    <span class="label-input100" style="font-size: 25px;">Subir contenido Captone Project para los estudiantes<br></span><br>
                    <input (change)="capturarFileCapstoneEstudiante($event)" type="file">
                </div>
                <div>
                    <img [src]="previsualizacionCasptoneEstudiante" alt="" width="400px">
                </div>
                <button class="boton-dashboard m-b-23 m-t-23" style="font-size: 25px;">
                    Subir contenido Capstone estudiante
                </button> 
        </div>
        <div id="formPracticaProfesor" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                    Documentos Práctica profesor
                </span>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100 m-b-23">Subir contenido Práctica Preprofesional para los Profesores<br></span>
                    <input (change)="capturarFilePracticaProfesor($event)" type="file">
                </div>
                <div>
                    <img [src]="previsualizacionPracticaProfesor" alt="" width="400px">
                </div>
                <button class="boton-dashboard m-b-23 m-t-23" style="font-size: 25px;">
                    Subir contenido práctica profesor
                </button>
        </div>

        <div id="formCapstoneProfesor" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49" style="text-transform:uppercase;">
                    Documentos Capstone profesor
                </span>
                <div class="wrap-input100 m-b-23 m-t-23">
                    <span class="label-input100">Subir contenido Captone Project para los Profesores<br></span>
                    <input (change)="capturarFileCapstoneProfesor($event)" type="file">
                </div>
                <div>
                    <img [src]="previsualizacionCasptoneProfesor" alt="" width="400px">
                </div>
                <button class="boton-dashboard m-b-23 m-t-23" style="font-size: 25px;">
                    Subir contenido Capstone profesor
                </button> 
        </div-->
    </div>
</div>

