[id=formCapstoneEstudiante]{
    margin-top: 4rem;
}
[id=formPracticaEstudiante]{
    margin-top: 4rem;
}
[id=formCapstoneProfesor]{
    margin-top: 4rem;
}
[id=formPracticaProfesor]{
    margin-top: 4rem;
}

[id=menuheader]{
    margin-bottom: 40px;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
    background-color: rgb(0,26,48);
}
