[id=formCapstoneEstudiante]{
    margin-top: 4rem;
}
[id=formPracticaEstudiante]{
    margin-top: 4rem;
}
[id=formCapstoneProfesor]{
    margin-top: 4rem;
}
[id=formPracticaProfesor]{
    margin-top: 4rem;
}